# ==============================
# Data
# ==============================
data/

# ==============================
# Environment Variables
# ==============================
.env

# ==============================
# Logs
# ==============================
logs/
**/logs/

# ==============================
# Python Cache
# ==============================
__pycache__/
**/__pycache__/

# ==============================
# Others
# ==============================
.vscode/
**/.vscode/
.DS_Store
**/.DS_Store
.pre-commit-config.yaml
